.Fundament{
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
}
.Fundament h1, .Fundament h3{
    margin: 15px 0px;
}
.separatedot{
    font-size: 0.5rem !important;
    margin: 0px 2px;
}
.chg{
    margin-left: 5px;
    font-size: 18px;
}
.Fund__row{
    display: flex;

}
.PerfDiv{
    margin: 2px 5px;
    padding: 3px;
    text-align: center;
    width: 60px;
}
.StatDiv{
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: 2px solid #787b86;
}
.Fund__text{
    color: #787b86;
}
.Fundstat{
    flex-grow: 1;
    overflow-y: auto;
}